@charset utf-8;
/* CSS Document */
/***************************************
*	Version 		15.00.01
*	Author			wuwg
*  	CreateTime      15.04.27
 *	UpdateTime		15.04.27
* *************************************************/
 
 
/**************************************
*name     		 layout
*status   		 start
*CreatTime 		 15.04.27
**************************************/
html,body {
    width: 100%;
    height: 100%;
    background-color:#ebeaea;
}
.fd-contain {

	min-width:1000px;
	overflow:hidden;
}
.fd-contain ,.fd-header,.fd-footer {
	width:100%;;
}
.fd-content{
    box-sizing: border-box;
    background-color: #fff;
}
.fd-footer{
	
}
.fd-header-in ,
.fd-main,
.fd-footer-in,
.fd-content {
	margin:0 auto;
	width:1280px;
}
/**************************************
*name      		layout
*status   		 end
*CreatTime 		 15.04.27
**************************************/

/**************************************
*name     		theme
*status    		start
*CreatTime 		15.04.27
**************************************/


/*--------------------   header  --------------------*/
.fd-header {
	width: 100%;
    background: url("../images/header-bg.png") repeat-x;
}
.fd-header-wrapper {
    width: 100%;
    background: url("../images/header-in-bg.png") no-repeat center;
}
.fd-header-in {
    position: relative;
    width: 1280px;
    height: 274px;
    box-sizing: border-box;
}
.fd-header-title {
    padding: 65px 0 0 3px;
}
.fd-header-title div:first-child {
    display: inline-block;
    width: 89px;
    height: 101px;
    vertical-align: middle;
    background: url("../images/logo.png");
}
.fd-header-title div:last-child {
    display: inline-block;
    height: 57px;
    width: 574px;
    vertical-align: middle;
    background: url("../images/header-title.png");
}
.fd-header-in > nav {
    position: absolute;
    bottom: 10px;
    width: 100%;
}
.fd-header-list {
    text-align: center;
}
.fd-header-list > li {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    width: 139px;
    height: 41px;
}
.fd-header-list:after {
    content: '';
    display: block;
    visibility: hidden;
    clear: both;
}
.fd-header-list a.select,
.fd-header-list a:hover {
    border: 1px solid #5daade;
    border-radius: 3px;
    background-color: #5daade;
    color: #fff;
    text-decoration: none;
}
.fd-text-bg {
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    width: 100%;
    font: 19px/39px "microsoft yahei";
    color: #fff;
    /*
    font-weight: bolder;
    */
    font-weight: 900;
    z-index: 4;
}
.fd-header-list a {
    display: inline-block;
    width: 100%;
    font: 19px/39px "microsoft yahei";
    font-weight: bold;
    color: #137dcc;
}
/*--------------------   header end --------------------*/

/*************  登录模块的样式  *******************/
.fd-login-container {
    width: 100%;
    box-sizing: border-box;
    height: 42px;
    border: 1px solid #dbdbdb;
    background-color: #f9f9f9;
}
.fd-login-in {
    width: 1420px;
    height: 100%;
    margin: 0 auto;
    line-height: 40px;
    font-size: 14px;
    font-family: "microsoft yahei";
}
.fd-login-in label {
    color: #354c82;
}
.fd-login-in input[type='text'] {
    box-sizing: border-box;
    width: 105px;
    height: 26px;
    border: 1px solid #ddd;
}
.fd-login-in:after {
    content: '';
    display: block;
    visibility: hidden;
    clear: both;
}
.fd-login-in div:first-child {
    float: left;
}
.fd-login-in div:last-child {
    float: right;
}
.fd-btn {
    display: inline-block;
    box-sizing: border-box;
    margin-left: 7px;
    width: 61px;
    height: 26px;
    line-height: 26px;
    border: 1px solid #005d98;
    color: #005d98;
    text-align: center;
    vertical-align: middle;
}
.fd-btn:hover {
    text-decoration: none;
}
.fd-select {
    box-sizing: border-box;
    width: 105px;
    height: 26px;
    border: 1px solid #ddd;
    background: url("../images/icon-select.png") no-repeat 80px center;
}
/****** 重写下拉框的样式  *******/
select::-ms-expand {
    display: none;
}
.fd-content {
    box-sizing: border-box;
    padding: 10px 12px;
}
.fd-container-01,
.fd-container-02 {
    width: 100%;
}
.fd-container-01:after,
.fd-container-02:after {
    display: block;
    content: '';
    height: 0;
    visibility: hidden;
    clear: both;
}
.fd-layer-01 {
    float: left;
    margin-top: 13px;
    width: 993px;
}
.fd-layer-02 {
    float: right;
    margin-top: 13px;
    width: 250px;
    height: 100px;/**待删**/
}
.fd-item {
    float: left;
    box-sizing: border-box;
    width: 490px;
    border: 1px solid #ccc;
}
.item-odd {
    margin-right: 12px;
}
.fd-layer-03 {
    margin-top: 8px;
    width: 100%;
    height: 222px;
    box-sizing: border-box;
    border-bottom: 1px solid #cdcdcd ;
    border-left: 1px solid #cdcdcd ;
    border-right: 1px solid #cdcdcd ;
    border-top: 3px solid #39acdb ;
}
.fd-layer-02:after {
    display: block;
    content: '';
    height: 0;
    visibility: hidden;
    clear: both;
}
.fd-02-item {
    box-sizing: border-box;
    padding: 17px 12px;
    width: 100%;
    border: 1px solid #f2f2f2;
    background-color: #fdfdfd;
}
/*******  院务通知等模块样式 *********/
.fd-data-list-01 .item-03,
.fd-data-list-01 .item-04 {
    margin-top: 11px;
}
.fd-data-list-01 nav {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 39px;
    line-height: 39px;
    border-bottom: 3px solid #5da9de;
    background-color: #f5f5f5;
}
.nav-title-01 {
    display: inline-block;
    position: absolute;
    top: -4px;
    left: -1px;
    box-sizing: border-box;
    width: 142px;
    height: 40px;
    background: url("../images/sub-nav.png");
}
.fd-span-text-01 {
    display: inline-block;
    width: 100%;
    height: 100%;
    background: url("../images/icon-01.png") no-repeat 6px center;
}
.fd-span-text-02 {
    display: inline-block;
    width: 100%;
    height: 100%;
    background: url("../images/icon-02.png") no-repeat 6px center;
}
.fd-span-text-03 {
    display: inline-block;
    width: 100%;
    height: 100%;
    background: url("../images/icon-03.png") no-repeat 6px center;
}
.fd-span-text-04 {
     display: inline-block;
     width: 100%;
     height: 100%;
     background: url("../images/icon-04.png") no-repeat 6px center;
 }
.fd-more {
    float: right;
    margin-right: 13px;
    padding-right: 11px;
    font-size: 14px;
    font-family: "宋体";
    color: #1f3b7b;
}
.fd-more-01 {
    background: url("../images/icon-more-1.png") no-repeat right center;
}
.fd-more-02 {
    background: url("../images/icon-more-2.png") no-repeat right center;
}
.pic-news {
    margin-right: 21px;
}
.fd-more:hover {
    text-decoration: none;
}
.fd-ul-list {
    box-sizing: border-box;
    width: 100%;
    height: 201px;
    padding: 9px;
}
.fd-list-01 li {
    background: url("../images/icon-li-bg1.png")no-repeat left center;
}
.fd-list-02 li {
    background: url("../images/icon-14.png")no-repeat left center;
}
.fd-ul-list > li{
    box-sizing: border-box;
    padding-left: 16px;
}
.fd-ul-list > li:after {
    display: block;
    content: '';
    height: 0;
    visibility: hidden;
    clear: both;
}
.fd-ul-list > li a {
    display: inline-block;
    width: 336px;
    font: 14px/30px "宋体";
    color: #1f3b7b;

}
.fd-ul-list > li span {
    float: right;
    margin-right: 12px;
    font: 12px/30px "宋体";
    color: #aeaead;
}
/*******  图片新闻模块样式  *********/
.fd-nav-title-02 {
    position: relative;
    float: left;
    margin-right: -139px;
    width: 139px;
    height: 38px;
    background-color: #000;

}
.fd-news-nav-title {
    background: url("../images/icon-05.png") no-repeat 12px center;
}
.title-01 {
    background: url("../images/icon-10.png") no-repeat 12px center;
}
.title-02 {
    background: url("../images/icon-11.png") no-repeat 12px center;
}
.title-03 {
    background: url("../images/icon-12.png") no-repeat 12px center;
}
.title-04 {
    background: url("../images/icon-13.png") no-repeat 12px center;
}
.title-05 {
    background: url("../images/icon-15.png") no-repeat 12px center;
}
.fd-sub-nav:after {
    content: '';
    display: block;
    visibility: hidden;
    clear: both;
}
.fd-sub-nav .fd-sub-nav-con {
    float: right;
    width: 100%;
    height: 38px;
    box-sizing: border-box;

}
.fd-sub-nav-con >div {
    height: 100%;
    margin-left: 139px;
    line-height: 38px;
    background-color: #f5f5f5;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

/*******  党务工作等模块的样式 *********/
.fd-data-list-02 .fd-item {
    margin-bottom: 11px;
}
.fd-data-list-02 .item-03,
.fd-data-list-02 .item-04 {
    margin-bottom: 0;
}

/***********广告区域  *************/
.fd-banner {
    margin-top: 8px;
    width: 100%;
    height: 108px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    background: url("../images/banner.png")no-repeat;
}
.fd-banner >a {
    display: block;
    width: 100%;
    height: 100%;
}
/**********  庭室风采的样式  *************/
.fd-list {
    margin-top: 8px;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #ccc;
    border-top: 3px solid #5eaade;
}
.fd-datalist-03 {
    box-sizing: border-box;
    padding: 11px 33px 27px;
}
.fd-datalist-03:after {
    content: '';
    display: block;
    visibility: hidden;
    clear: both;
}
.fd-datalist-03 >li {
    float: left;
    box-sizing: border-box;
    margin: 11px 20.25px 0;
    width: 52px;
    height: 51px;
    border: 1px solid #1f9cdf;
    border-radius: 3px;
}
.fd-datalist-03 >li a {
    display: block;
    width: 100%;
    height: 100%;
}
/************* 各院链接样式 *****************/
.fd-link-list {
    box-sizing: border-box;
    margin-top: 25px;
    padding: 44px 16px 30px;
    width: 100%;
    background: url("../images/icon-16.png") no-repeat top center;
    font: 14px/34px "宋体";
    color: #1f3b7b;
}
.fd-link-list:after {
    content: '';
    display: block;visibility: hidden;
    visibility: hidden;
    clear: both;
}
.fd-link-list li {
    float: left;
}
.fd-link-list a {
    display: block;
    padding: 0 18px;
}
/*--------------------  footer  --------------------*/
.fd-footer {
    height: 112px;
    text-align: center;
    line-height: 112px;
    color: #fff;
    background-color: #5ba9de;
}
.fd-footer > span {
    display: inline-block;
    width: 1280px;
    margin: 0 auto;
    vertical-align: middle;
    font: 12px/25px "宋体";
}
/*----------------  2    ---------------- */
/*------------   3 ------------*/
/*--------   4 -------- */
/*----  5 ----*/
/*6 */


/**************************************
*name     		 theme
*status    		 end
*CreatTime 		 15.04.27
**************************************/


